// colors

$dark-100: #2B2B2B;
$dark-200: #1A1513;

$light-100: #ffffff;

$orange-100: #FBCBBC;
$orange-200: #FEB39A;
$orange-300: #F15A29;
$orange-400: #fd7b50;
$orange-500: #64453B;
$orange-600: #3C2821;

$text-black: $dark-100;
$text-white: $light-100;
$text-primary: $orange-300;
$text-secondary: $orange-200;

$bg-dark: $dark-200;
$bg-light: $light-100;


